body{
    background-color: #ebeff5;
    font-family: 'Montserrat';
    color: #333333;
    font-size: 14px;
}
/* Table Caption */
caption{
    caption-side: top;
}

#logo{
    font-family: 'Righteous';
    font-size: 1.4em;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}