{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Issue Tracker - Sign Up
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign Up</legend>
            {{ form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <div>
        <small class="text-muted">
            Already have an account?<a class="ml-2" href="{% url 'accounts:login' %}">Log In</a>
        </small>
    </div>
</div>
{% endblock %}
