{% extends 'base.html' %}
{% block content %}

<div class="container card card-body">
    <h1>
        {% if p.image %}
            <img src="{{ project.image.url }}" style="width:30px;" alt="">
        {% endif %}
            Project: {{ project.name }}
    </h1>
    <div>
        {% if project.created_by == user %}
            <a class="btn btn-sm btn-outline-dark mt-1 mb-1" href="{% url 'projects:update' pk=project.pk %}">
                <i class="fa fa-pencil"></i> Update
            </a>
            <a class="btn btn-sm btn-outline-danger mt-1 mb-1" href="{% url 'projects:delete' pk=project.pk %}">
                <i class="fa fa-pencil"></i> Delete
            </a>
        {% endif %}
            <a class="btn btn-sm btn-outline-dark ml-3" href="{% url 'projects:create_issue' project_pk=project.pk %}">
                <i class="fa fa-plus"></i> Issue
            </a>
    </div>
    <div class="article-metadata">
        <p>Category: {{ project.category.name }}</p>
        <p>Create Date: {{ project.create_date|date:"Y/m/d" }}</p>
        <p>Last Update Date: {{ project.update_date|date:"Y/m/d" }}</p>
        <p>Description: {{ project.description|linebreaks }}</p>
    </div>
    {% include 'projects/_issues.html' with is_paginated=True %}
</div>

{% endblock %}