<div class="row">
    <div class="col-md-5 mt-3">
        <h5>PROJECTS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'projects:create' %}">Create Project</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Issues</th>
                </tr>
                {% for p in projects %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="{% url 'projects:detail' pk=p.pk %}">View</a></td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.issues.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7 mt-3">
        <h5>LAST 5 ISSUES</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Reporter</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for i in issues %}
                <tr>
                    <td>{{ i.title }}</td>
                    <td>{{ i.description|truncatechars:20 }}</td>
                    <td>{{ i.get_status_display }}</td>
                    <td>{{ i.reporter.username }}</td>
                    <td><a class="btn btn-sm btn-info" href="#">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>